<div class="header">
<div class="date-display-nav">
    <i class='bx bx-chevron-left' id="date-last"></i>
    <i class='bx bx-chevron-right' id="date-next"></i>
</div>
<div class="date-container month" id="date-container">
    <span id="display-week"></span>
    <span id="display-month"></span>
</div>
<div class="btn-container">
    <button id="day-btn" type="button">Day</button>
    <button id="week-btn" type="button">Week</button>
    <button id="month-btn" type="button">Month</button>
    <button id="year-btn" type="button">Year</button>
</div>
</div>

<script type="module" src="header.js"></script>