#header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 6vh;
  background-color: #212121;
  left: 106px;
  transition: all 0.5s ease;
  width: calc(100% - 106px);
  z-index: 20;
}

.header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-container {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.header button {
    background-color: aqua;
    min-height: 2.5rem;
    min-width: 4rem;
    cursor: pointer;
    color: #212121;

}

.month-container {
  margin-left: 10px;
}