<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg"/>
    <link rel="stylesheet" href="boxicons.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Vite App</title>
  </head>
  <body>
    <div id="app"></div>



    <div class="sidebar">
        <div class="top">
            <div class="logo">
              hello there!
                <i class="bx bxl-codepen"></i>
            </div>
        </div>
    </div>



  </body>

  <script type="module" src="/sidebar.js"></script>

</html>
