<form action="" method="get" class="insta-entry-form">
    <div class="">
        <label for="event-name">Event Name?</label>
        <input type="text" id="event-name">
    </div>
    <div class="">
        <label for="event-description">Event Description?</label>
        <input type="text" id="event-description">
    </div>
    <div class="">
        <label for="event-time">Event Time?</label>
        <input type="time" id="event-time">
    </div>
</form>


<script type="module" src="insta_entry.js"></script>